
.header{
  font-size: 100px;
  position: relative;
  text-decoration: none;
  font-family: "Product Sans Regular",sans-serif;
  color: black;
  cursor: pointer;
}

.header:before{
  content: "";
  position: absolute;
  height: 0.1em;
  width: 800px;
  background: linear-gradient(
      to right,
      #fd004c,
      #fe9000,
      #fff020,
      #3edf4b,
      #3363ff,
      #b102b7
  );
  background-size: 200% 100%;
  bottom: -0.1em;
  transition: 1.5s;
}

.header:hover:before{
  background-position: 100% 0;
}

.topnav {
    position: sticky;
    top: 0;
    background-color: white;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: 0;
    right: 0px;
    align-items: center;
    text-decoration: none;
}

.topnav a {
    display: block;
    float: left;
    color:  black;
    padding: 1em;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Product Sans Regular';
    src: local('Product Sans Regular'), url('/fonts/ProductSans-Regular.woff') format('woff');
    overflow: hidden;
    text-decoration: none;
}

.topnav a:hover {
    background-color: orange;
    color: grey;
}

.text-fill {
  text-decoration: none;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: thin grey;

}

.text-fill:hover {
  -webkit-text-fill-color: grey;
}


.text {
  font-size: 24px;
}

.left {
  text-align: left;
  font-size: 30px;
  padding: 2rem;
}

.center {
  text-align: center;
  font-size: 36px;
}

.section-headers {
  color: black;
  font-size: 80px;
  font-weight: bold;
  font-family: 'Product Sans Regular';
  src: local('Product Sans Regular'), url('/fonts/ProductSans-Regular.woff') format('woff');
}


.text-fill-a {
  background: -webkit-linear-gradient(rgb(255, 81, 0), #f9cb29);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


.footer {
  background-image: url('/images/footer.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.footer-image {
  width: 25%;
  height: 50%;
}

.in-btn {
  width: 150px;
  height: 50%
}

.btn-forward{
  height: 75px;
  width: 200px;
  background-color: white;
  border: 5px solid #000000;
  position: relative;
  cursor: pointer;
}

.btn-forward:before,
.btn-forward:after{
  content: "";
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border: 5px solid rgb(255, 254, 254);
  transition: 0.3s;
}

.btn-forward:before{
  bottom: -15px;
  left: -15px;
  z-index: -1;
}

.btn-forward:after{
  content: attr(data-text);
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 3px;
  display: grid;
  place-items: center;
  top: -15px;
  right: -15px;
  z-index: 1;
}

.btn-forward:hover:before{
  bottom: -5px;
  left: -5px;
}

.btn-forward:hover:after{
  top: -5px;
  right: -5px;
  background-color: #f3f7fa;
  color: #000000;
}

.next {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Header/Blog Title */
.div-header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 45%;
}

.rightcolumn {
  float: right;
  width: 45%
}

/* Fake image */
.fakeimg {
  color: white;
  width: 100%;
  height: auto;
}

/* Add a card effect for articles */
.card {
   text-align: left;
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.div-footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
