
.header{
  text-align: center;
  height: auto;
  width: 100%;
  font-weight: bold;
  font-size: 80px;
  position: relative;
  text-decoration: none;
  font-family: 'Product Sans Regular';
  src: local('Product Sans Regular'), url('/fonts/ProductSans-Regular.woff') format('woff');
  color: white;
  cursor: pointer;
}

.topnav {
    position: sticky;
    background-color: black;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: 0;
    right: 0px;
    align-items: center;
    text-decoration: none;
}

.topnav a {
  display: block;
  float: left;
  color: white;
  padding: 13px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Product Sans Regular';
  src: local('Product Sans Regular'), url('/fonts/ProductSans-Regular.woff') format('woff');
  overflow: hidden;
  text-decoration: none;
  background-color: transparent;
}

.topnav a:hover {
  background-color: #eccba0;
  color: white;
}

.text-fill {
  text-decoration: none;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: thin grey;

}

.text-fill:hover {
  -webkit-text-fill-color: grey;
}

.column {
  text-align: justify;
  line-height: 35px;
  -webkit-columns: 250px 2;
  -moz-columns: 250px 2;
  columns: 250px 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

p {
  font-size: 24px;
  text-align: left;
  padding: 4rem;
}

.left {
  text-align: left;
  font-size: 27px;
  padding: 1rem;
}

.center {
  text-align: center;
  font-size: 27px;
  padding: 1rem;
}

.section-headers {
  color: white;
  font-size: 56px;
  font-weight: bold;
  font-family: 'Product Sans Regular';
  src: local('Product Sans Regular'), url('/fonts/ProductSans-Regular.woff') format('woff');
}

.text-fill-a {
  background: -webkit-linear-gradient(rgb(255, 81, 0), #f9cb29);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.footer-image {
  width: 25%;
  height: 50%;
}


