
@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Regular'), url('/fonts/ProductSans-Regular.woff') format('woff');
}
    
html {
  scroll-behavior: smooth;
  scrollbar-color: black;
  background-color: black;
}

body {
  display: block;
  text-align: center;
  background-color: black;
  font-family: 'Inter', sans-serif;
  color: white;
}

.image {
  display: block;
  width: 500px;
  height: auto;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
}

.subtitle {
  color: rgb(150, 144, 144);
  font-size: 3.5rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
}

hr {
  align-content: center;
  border-style: solid;
  border-color: black;
  height: auto;
  width: 50%;
}

.footer {
  height: 100px;
  width: 100%;
  padding: 3rem;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background-color:black;
  color: white;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
