
@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Regular'), url('/fonts/ProductSans-Regular.woff') format('woff');
}
    
html {
  scroll-behavior: smooth;
  scrollbar-color: black;
}

body {
  font-family: "Old Standard TT";
  display: block;
  text-align: center;
  background: white;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 350px;
}

header {
  font-size: 80px;
  position: relative;
  font-family: 'Source Code Pro', sans-serif;
  position: relative;
  width: max-content;
  font-weight: bold;
  padding: 3rem;
}


section {
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  padding: 50px;
  color: black;
  font-size: 36px;
  background-color: white;
}


.subtitle {
  color: rgb(150, 144, 144);
  font-size: 3.5rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
}

hr {
  align-content: center;
  border-style: solid;
  height: 20px;
  width: 50%;
}